<section *ngIf="showOrFalse == true" class="m-t-20 m-b-30">
    <div class="container containerHeight">
        <!--<h2 class="text-page" style="margin-top:0px;"><strong>{{coursetitle}}</strong></h2>-->
        <div class="panel panel-default text-page text-center  padd-min">
            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>
            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>
            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>
            <h3 class="page-text">
                <strong>You have  successfully completed the {{coursetitle}} Course</strong>
            </h3>
            <h3>
                <strong>You scored {{score}}%</strong>
            </h3>
            <div *ngIf="showResultOrfalse">
                <h4 *ngFor="let data of showLessonResult; let i = index">
                    <div *ngIf="data.total == 0"><strong>Lesson {{i+1}} {{data.lessonname}}, No question</strong></div>
                    <div *ngIf="data.total != 0"><strong>Lesson {{i+1}} {{data.lessonname}}, You answered {{data.right}} out {{data.total}} questions correctly</strong></div>
                </h4>
            </div>
            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>

            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>
            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!showResultOrfalse">
                <div class="white-space m-t-30 m-b-30">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="sr-only">Empty Space</span>
                        </div>
                    </div>
                </div>
                <div class="white-space m-t-30 m-b-30">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="sr-only">Empty Space</span>
                        </div>
                    </div>
                </div>
                <div class="white-space m-t-30 m-b-30">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="sr-only">Empty Space</span>
                        </div>
                    </div>
                </div>
                <div class="white-space m-t-30 m-b-22">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="sr-only">Empty Space</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>   
    <div class="v-bottom">
      <div class="">
        <div class="col-md-2 col-sm-2 col-xs-2 continue"   (click)="showResult()">
          <a class="">
            <h5>Your Result</h5>
          </a>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 text-center back"   (click)="gotoFinish()">
          <h4 class="text-page pull-right"></h4>
          <a class="">
            <h5>Finish</h5>
          </a>
        </div>
      </div>
    </div>
</section>