<section id="section_id" style="position: relative;height: 100vh !important;" class="section_div">
    <!--<div class="text-center" style="height: 100% !important;">
        <div class="col-md-12" style="line-height: 1px;    text-align: center;padding: 0;height: 100% !important;">
            <iframe width="100%" height="100%" frameborder=0 id="iframe_id">
              html
            </iframe>
        </div>
    </div>
        
    <div class="v-bottom" style="position: absolute; height: 100%;">
      <div style="height: 100%;">
        <div class="col-md-2 col-sm-2 col-xs-2 continue"   (click)="gotoPrevious()">
          <a  style="height: 100%; display: block;">
            <div style="height: 49%;"></div>
            <h5><</h5>
          </a>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 text-center back"   (click)="gotoNext()">
          <a style="height: 100%; display: block;">
            <div style="height: 49%;"></div>
            <h5>></h5>
          </a>
        </div>
      </div>
    </div>-->
    <div class="iframe-wrap">
    <div class="iframe-inner" style="position: relative;">

        <header class="iframe-header clearfix" style="position: fixed; top:0; left: 0; width: 100%; z-index: 100;">

            <div class="logo-wrap">
                <a class="logo" href="/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="190px" height="44px" viewBox="0 0 979.651 227.907" enable-background="new 0 0 979.651 227.907"
   xml:space="preserve">
<g>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M291.613,149.014c-4.444,5.408-9.833,9.705-16.167,12.889
    s-13.316,4.777-20.944,4.777c-6.594,0-12.778-1.205-18.555-3.611c-5.778-2.406-10.806-5.684-15.08-9.832
    c-4.274-4.148-7.646-9.018-10.111-14.611c-2.465-5.592-3.698-11.611-3.698-18.057c0-6.444,1.232-12.461,3.698-18.054
    s5.837-10.481,10.111-14.667c4.274-4.184,9.302-7.462,15.08-9.833c5.777-2.37,11.961-3.556,18.555-3.556
    c7.628,0,14.611,1.594,20.944,4.777c6.333,3.186,11.611,7.334,15.833,12.444l-11.889,12.223c-2.741-3.926-6.278-7.092-10.611-9.5
    c-4.333-2.406-9.094-3.611-14.278-3.611c-4.149,0-8.056,0.797-11.722,2.389c-3.667,1.594-6.872,3.741-9.611,6.444
    c-2.741,2.705-4.908,5.853-6.5,9.444c-1.594,3.594-2.389,7.427-2.389,11.5c0,4,0.795,7.797,2.389,11.389
    c1.592,3.594,3.759,6.742,6.5,9.445c2.739,2.705,5.944,4.852,9.611,6.443c3.667,1.594,7.573,2.391,11.722,2.391
    c5.481,0,10.333-1.24,14.556-3.723c4.222-2.48,7.739-5.76,10.555-9.834L291.613,149.014z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M364.723,132.902c0,4.816-0.889,9.277-2.667,13.389
    c-1.777,4.111-4.222,7.666-7.333,10.666c-3.111,3-6.76,5.373-10.944,7.111c-4.186,1.74-8.649,2.611-13.389,2.611
    c-4.741,0-9.186-0.871-13.333-2.611c-4.149-1.738-7.778-4.129-10.889-7.166c-3.111-3.037-5.556-6.611-7.333-10.723
    c-1.777-4.111-2.667-8.535-2.667-13.277c0-4.666,0.906-9.055,2.722-13.166c1.814-4.111,4.278-7.704,7.389-10.778
    c3.111-3.073,6.739-5.481,10.889-7.223c4.147-1.739,8.555-2.611,13.222-2.611c4.739,0,9.203,0.872,13.389,2.611
    c4.184,1.741,7.833,4.111,10.944,7.111c3.111,3,5.556,6.575,7.333,10.721C363.834,123.719,364.723,128.162,364.723,132.902z
     M348.723,132.902c0-2.74-0.481-5.295-1.441-7.666s-2.271-4.445-3.932-6.223c-1.662-1.777-3.601-3.166-5.816-4.167
    c-2.215-1-4.578-1.5-7.089-1.5c-2.51,0-4.875,0.5-7.09,1.5c-2.215,1-4.155,2.389-5.816,4.167c-1.662,1.777-2.972,3.852-3.933,6.223
    c-0.96,2.371-1.439,4.926-1.439,7.666c0,2.742,0.479,5.297,1.439,7.666c0.96,2.373,2.271,4.445,3.933,6.223
    c1.661,1.777,3.601,3.166,5.816,4.166s4.58,1.5,7.09,1.5c2.511,0,4.874-0.5,7.089-1.5c2.215-1,4.154-2.389,5.816-4.166
    c1.661-1.777,2.972-3.85,3.932-6.223C348.242,138.199,348.723,135.645,348.723,132.902z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M420.833,107.458l-8.556,13.555
    c-1.555-1.703-3.277-3.203-5.167-4.5c-1.889-1.295-3.797-1.945-5.722-1.945c-1.038,0-2.167,0.241-3.389,0.722
    c-1.222,0.482-2.372,1.277-3.444,2.389c-1.075,1.111-1.983,2.574-2.723,4.389c-0.741,1.816-1.111,4.057-1.111,6.723v36.223h-16
    v-64.222h16v6.889c1.925-2.739,4.056-4.851,6.389-6.333c2.333-1.481,4.944-2.223,7.833-2.223c2.814,0,5.573,0.761,8.278,2.278
    C415.925,102.921,418.461,104.941,420.833,107.458z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M472.609,107.458l-8.556,13.555
    c-1.555-1.703-3.277-3.203-5.167-4.5c-1.889-1.295-3.797-1.945-5.722-1.945c-1.038,0-2.167,0.241-3.389,0.722
    c-1.222,0.482-2.372,1.277-3.444,2.389c-1.075,1.111-1.983,2.574-2.723,4.389c-0.741,1.816-1.111,4.057-1.111,6.723v36.223h-16
    v-64.222h16v6.889c1.925-2.739,4.056-4.851,6.389-6.333c2.333-1.481,4.944-2.223,7.833-2.223c2.814,0,5.573,0.761,8.278,2.278
    C467.702,102.921,470.238,104.941,472.609,107.458z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M544.607,132.791c0,1.039-0.056,2.111-0.166,3.223
    c-0.111,1.111-0.241,2.26-0.39,3.443h-51.332c0.592,1.854,1.425,3.611,2.5,5.279c1.072,1.666,2.389,3.109,3.943,4.332
    c1.557,1.223,3.314,2.186,5.278,2.889c1.962,0.705,4.129,1.057,6.5,1.057c2.889,0,5.777-0.5,8.667-1.5
    c2.889-1,5.295-2.352,7.222-4.057l10.111,10.111c-4.444,3.334-8.797,5.686-13.056,7.057c-4.261,1.369-8.761,2.055-13.5,2.055
    c-4.815,0-9.316-0.889-13.5-2.666c-4.186-1.777-7.816-4.184-10.889-7.223c-3.075-3.037-5.5-6.611-7.278-10.723
    c-1.777-4.111-2.667-8.5-2.667-13.166s0.889-9.055,2.667-13.166c1.778-4.111,4.222-7.684,7.333-10.723
    c3.111-3.036,6.739-5.444,10.889-7.222c4.147-1.777,8.592-2.667,13.333-2.667c4.518,0,8.851,0.834,13,2.5
    c4.147,1.667,7.814,3.983,11,6.944c3.185,2.964,5.703,6.5,7.556,10.611C543.68,123.291,544.607,127.83,544.607,132.791z
     M527.83,126.568c-1.261-4.072-3.5-7.35-6.722-9.832c-3.223-2.481-6.872-3.723-10.944-3.723c-4,0-7.595,1.242-10.778,3.723
    c-3.186,2.482-5.408,5.76-6.666,9.832H527.83z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M612.495,155.346c-3.26,3.705-7.186,6.52-11.777,8.445
    c-4.594,1.926-9.408,2.889-14.444,2.889c-4.667,0-9.073-0.852-13.217-2.555c-4.146-1.703-7.745-4.057-10.797-7.057
    s-5.462-6.572-7.228-10.723c-1.766-4.146-2.647-8.627-2.647-13.443c0-4.74,0.882-9.166,2.647-13.277s4.156-7.684,7.174-10.722
    c3.016-3.037,6.596-5.426,10.739-7.167c4.145-1.739,8.587-2.611,13.328-2.611c4.889,0,9.536,0.89,13.944,2.667
    c4.406,1.777,8.239,4.482,11.5,8.111l-10.777,11c-1.631-2.146-3.611-3.926-5.945-5.334c-2.333-1.406-5.166-2.11-8.499-2.11
    c-2.445,0-4.761,0.519-6.944,1.555c-2.187,1.039-4.111,2.428-5.778,4.166c-1.667,1.742-2.982,3.797-3.944,6.168
    c-0.964,2.371-1.444,4.889-1.444,7.555s0.48,5.186,1.444,7.555c0.962,2.373,2.259,4.428,3.889,6.168
    c1.629,1.74,3.556,3.129,5.778,4.166c2.222,1.039,4.555,1.555,7,1.555c3.184,0,6.072-0.758,8.666-2.277
    c2.592-1.518,4.667-3.461,6.223-5.832L612.495,155.346z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M656.162,163.568c-1.631,1.039-3.52,1.814-5.667,2.334
    c-2.149,0.518-4.297,0.777-6.444,0.777c-3.777,0-6.964-0.463-9.556-1.389c-2.594-0.926-4.666-2.352-6.222-4.277
    s-2.686-4.371-3.389-7.334c-0.705-2.961-1.056-6.443-1.056-10.443v-28.111h-8.444v-7.222c5.184-2.147,9.389-5.334,12.61-9.556
    c3.223-4.223,5.426-9.703,6.611-16.444h5.223v18.777h16.222v14.445h-16.222v29.223c0,1.629,0.203,2.963,0.61,3.998
    c0.406,1.039,0.944,1.854,1.611,2.445c0.667,0.594,1.426,1,2.278,1.223c0.851,0.223,1.758,0.332,2.722,0.332
    c1.259,0,2.777-0.221,4.556-0.666c1.777-0.443,3.295-1.184,4.556-2.223V163.568z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M784.047,149.014c-4.444,5.408-9.833,9.705-16.167,12.889
    c-6.333,3.184-13.315,4.777-20.943,4.777c-6.594,0-12.778-1.205-18.556-3.611c-5.778-2.406-10.806-5.684-15.08-9.832
    s-7.646-9.018-10.111-14.611c-2.465-5.592-3.697-11.611-3.697-18.057c0-6.444,1.232-12.461,3.697-18.054
    c2.466-5.593,5.837-10.481,10.111-14.667c4.274-4.184,9.302-7.462,15.08-9.833c5.777-2.37,11.962-3.556,18.556-3.556
    c7.628,0,14.61,1.594,20.943,4.777c6.334,3.186,11.611,7.334,15.834,12.444l-11.889,12.223c-2.742-3.926-6.278-7.092-10.611-9.5
    c-4.333-2.406-9.094-3.611-14.277-3.611c-4.149,0-8.056,0.797-11.723,2.389c-3.667,1.594-6.871,3.741-9.611,6.444
    c-2.741,2.705-4.907,5.853-6.5,9.444c-1.594,3.594-2.389,7.427-2.389,11.5c0,4,0.795,7.797,2.389,11.389
    c1.593,3.594,3.759,6.742,6.5,9.445c2.74,2.705,5.944,4.852,9.611,6.443c3.667,1.594,7.573,2.391,11.723,2.391
    c5.48,0,10.333-1.24,14.555-3.723c4.223-2.48,7.74-5.76,10.556-9.834L784.047,149.014z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M842.935,165.014h-16v-3.445c-2.815,1.928-5.797,3.262-8.944,4
    c-3.149,0.74-6.389,1.111-9.722,1.111c-3.111,0-5.928-0.463-8.444-1.389c-2.52-0.926-4.705-2.258-6.556-4
    c-1.853-1.74-3.278-3.795-4.278-6.166s-1.5-5-1.5-7.889c0-3.629,0.796-6.795,2.39-9.5c1.592-2.703,3.758-4.963,6.499-6.779
    c2.74-1.813,5.945-3.166,9.611-4.055c3.667-0.889,7.611-1.334,11.833-1.334h9.223c0-3.777-1.223-6.777-3.667-9
    c-2.444-2.221-5.963-3.333-10.556-3.333c-2.222,0-4.519,0.408-6.889,1.223c-2.371,0.815-4.741,2.297-7.11,4.444l-9.444-9.555
    c3.405-3.259,7.351-5.778,11.833-7.556c4.48-1.777,9.092-2.667,13.833-2.667c4.444,0,8.401,0.705,11.871,2.111
    c3.469,1.408,6.271,3.223,8.404,5.444c2.796,2.816,4.763,5.964,5.903,9.445c1.139,3.482,1.71,7.926,1.71,13.332V165.014z
     M826.935,149.014v-11.889h-7.333c-2.223,0-4.316,0.148-6.278,0.443c-1.963,0.297-3.666,0.797-5.11,1.5
    c-1.444,0.705-2.594,1.611-3.444,2.723c-0.853,1.111-1.278,2.445-1.278,4c0,2.223,0.87,4.039,2.611,5.445
    c1.739,1.406,3.98,2.109,6.722,2.109c2.37,0,4.723-0.369,7.056-1.109C822.213,151.496,824.564,150.422,826.935,149.014z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M901.377,107.458l-8.556,13.555
    c-1.556-1.703-3.277-3.203-5.166-4.5c-1.89-1.295-3.797-1.945-5.723-1.945c-1.038,0-2.167,0.241-3.389,0.722
    c-1.223,0.482-2.372,1.277-3.444,2.389c-1.075,1.111-1.982,2.574-2.723,4.389c-0.741,1.816-1.111,4.057-1.111,6.723v36.223h-15.999
    v-64.222h15.999v6.889c1.926-2.739,4.056-4.851,6.39-6.333c2.333-1.481,4.944-2.223,7.833-2.223c2.814,0,5.573,0.761,8.277,2.278
    C896.469,102.921,899.006,104.941,901.377,107.458z"/>
  <path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M973.375,132.791c0,1.039-0.056,2.111-0.166,3.223
    c-0.111,1.111-0.241,2.26-0.39,3.443h-51.332c0.592,1.854,1.425,3.611,2.5,5.279c1.072,1.666,2.389,3.109,3.944,4.332
    s3.313,2.186,5.277,2.889c1.962,0.705,4.129,1.057,6.5,1.057c2.889,0,5.777-0.5,8.667-1.5c2.889-1,5.295-2.352,7.222-4.057
    l10.111,10.111c-4.444,3.334-8.797,5.686-13.056,7.057c-4.261,1.369-8.761,2.055-13.5,2.055c-4.815,0-9.315-0.889-13.5-2.666
    c-4.186-1.777-7.815-4.184-10.889-7.223c-3.074-3.037-5.5-6.611-7.277-10.723c-1.778-4.111-2.667-8.5-2.667-13.166
    s0.889-9.055,2.667-13.166c1.777-4.111,4.222-7.684,7.333-10.723c3.111-3.036,6.739-5.444,10.889-7.222
    c4.147-1.777,8.592-2.667,13.333-2.667c4.518,0,8.851,0.834,13,2.5c4.147,1.667,7.814,3.983,11,6.944
    c3.185,2.964,5.703,6.5,7.556,10.611C972.449,123.291,973.375,127.83,973.375,132.791z M956.598,126.568
    c-1.261-4.072-3.5-7.35-6.722-9.832c-3.223-2.481-6.872-3.723-10.944-3.723c-4,0-7.594,1.242-10.778,3.723
    c-3.186,2.482-5.408,5.76-6.666,9.832H956.598z"/>
</g>
<path fill="#1DAFBC" d="M120.617,163.929c-25.763,0-46.642-20.878-46.642-46.642c0-25.763,20.878-46.642,46.642-46.642
  c10.021,0,19.304,3.161,26.913,8.546l39.982-33.922c-18.18-19.253-43.943-31.273-72.518-31.273
  c-55.088,0-99.743,44.667-99.743,99.755c0,55.087,44.655,99.743,99.743,99.743c27.4,0,52.227-11.059,70.256-28.938l-38.233-28.813
  C139.509,160.904,130.425,163.929,120.617,163.929z"/>
<path fill="#0C435B" d="M176.492,192.278l-6.834,5.598l2.586,0.437c-14.518,8.597-31.46,13.52-49.54,13.52
  c-53.826,0-97.456-43.643-97.456-97.456c0-53.826,43.63-97.456,97.456-97.456c14.756,0,28.737,3.286,41.281,9.171l-0.887,0.612
  l16.105,10.845l-24.439,21.502c-10.108-6.247-22.015-9.858-34.771-9.858c-36.571,0-66.22,29.649-66.22,66.22
  s29.649,66.22,66.22,66.22c11.083,0,21.515-2.724,30.686-7.533L176.492,192.278z"/>
<path fill="#ffffff" stroke="none" stroke-miterlimit="10" d="M117.481,189.754c-40.707,0-73.717-33.01-73.717-73.717
  c0-40.706,33.01-73.716,73.717-73.716c12.207,0,23.714,2.961,33.86,8.222l27.862-24.664c-17.617-12.469-39.132-19.791-62.347-19.791
  C57.17,6.087,8.78,54.478,8.78,114.164c0,59.686,48.391,108.077,108.077,108.077c22.814,0,43.992-7.072,61.435-19.154
  l-29.324-20.379C139.421,187.23,128.738,189.754,117.481,189.754z"/>
</svg>
                </a>
            </div>

            <div class="iframe-close_wrap">
                <a class="iframe-close_control" href="#/home/student/lesson">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 44 44" enable-background="new 0 0 44 44" xml:space="preserve">
<g>
  <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M38.824,0L44,5.178L5.176,44L0,38.825L38.824,0z"/>
  <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M5.176,0L44,38.825L38.824,44L0,5.178L5.176,0z"/>
</g>
</svg>
                </a>
                <span class="iframe-close_hint">Save progress and return to courses</span>
            </div>

        </header>

        <div class="iframe-container-wrap" style="padding-top:60px;">

            <div class="iframe-controls">
                <a class="iframe-controls_prev" (click)="gotoPrevious()" id="a_prev_id" style="margin-top:60px;">
                    <svg width="40px" height="40px" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#ffffff" d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg>
                </a>
                <a class="iframe-controls_next" (click)="gotoNext()" id="a_next_id" style="margin-top:60px;">
                    <svg width="40px" height="40px" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="#ffffff" d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg>
                </a>
            </div>

            <!--<div class="iframe-container-inner" id="iframe_container_id" style="-webkit-overflow-scrolling:touch;overflow-y: scroll;">-->
            <div class="iframe-container-inner" id="iframe_container_id" style="-webkit-overflow-scrolling:touch;">
                <iframe frameborder="0" id="iframe_id"></iframe>
            </div>

        </div>

        <div class="iframe-progress"><span></span></div>

    </div>
</div>
</section>
